
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-success mr-2 spacingButtons" (click)="openNew()"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2 spacingButtons" pTooltip="Export PDF" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-info ml-auto spacingButtons" pTooltip="Export Excel" tooltipPosition="bottom"></button>
    </ng-template>
  </p-toolbar>

  <p-table [value]="items" [(selection)]="selectedItems" dataKey="idItem" responsiveLayout="scroll" selectionMode="multiple" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h2 class="m-0">{{'items.manage' | translate}}</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="header">

      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">{{'items.name' | translate}}<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">{{'items.description' | translate}}<p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="status">{{'items.status' | translate}} <p-sortIcon field="status"></p-sortIcon></th>
        <th></th>
      </tr>

      <tr>
        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>

    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td><p-tableCheckbox [value]="product"></p-tableCheckbox></td>
        <td class="my-center-text">{{product.name}}</td>
        <td>{{product.description}}</td>
        <td><span [class]="'product-badge'">{{product.status}}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-info mr-2" (click)="viewProduct(product)"></button>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 spacingButtons" (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning spacingButtons" (click)="deleteItem(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        {{'total.first' | translate}} {{items ? items.length : 0 }} {{'total.second' | translate}}
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="itemsDialog" [style]="{width: '450px', height:'570px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">{{'items.name' | translate}}</label>
      <input type="text" pInputText id="name" [(ngModel)]="item.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !item.name">Name is required.</small>
    </div>
    <br>
    <div class="field">
      <label for="description">{{'items.description' | translate}}</label>
      <textarea id="description" pInputTextarea [(ngModel)]="item.description" required rows="3" cols="20"></textarea>
    </div>
    <br>
    <div class="field">
      <label for="status">{{'items.status' | translate}}</label>
      <p-dropdown id="status" [(ngModel)]="item.status" inputId="status" [options]="statuses" placeholder="Select">
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="{{'save' | translate}}" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="viewItemsDialog" [style]="{width: '450px', height:'500px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="nameV">{{'items.name' | translate}}</label>
      <input type="text" pInputText id="nameV" [(ngModel)]="item.name" [disabled]=true required autofocus/>
    </div>
    <br>
    <div class="field">
      <label for="descriptionV">{{'items.description' | translate}}</label>
      <textarea id="descriptionV" pInputTextarea [(ngModel)]="item.description" [disabled]=true required rows="3" cols="20"></textarea>
    </div>
    <br>
    <div class="field">
      <label for="statusV">{{'items.status' | translate}}</label>
      <input type="text" pInputText id="statusV" [(ngModel)]="item.status" [disabled]=true required autofocus/>
    </div>
    <br>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

