
.clip-text {
  background-size: cover;
  background: url(https://media.giphy.com/media/RFsddEHX0UOQ/giphy.gif?cid=ecf05e47jx2nsrjib48qy5uto63tb6rg4wvzg7x419sxbho9&rid=giphy.gif&ct=g) center;

  -webkit-background-clip: text;
  color: transparent; // set to transparent, otherwise won't see the background

  box-sizing: border-box;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}
