
<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
    </ng-template>

  </p-toolbar>

  <p-table #dt [value]="items" [columns]="cols" [rows]="10" [paginator]="true" responsiveLayout="scroll" selectionMode="multiple"  [(selection)]="selectedItems"
           dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [exportHeader]="'customExportHeader'">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Items</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
          <!--<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />-->
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!--[pSelectableRow]="item"-->
        <th style="width: 3rem">
          <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
        </th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr  [pSelectableRow]="product"  [pSelectableRowIndex]="rowIndex">
        <td>
          <!--<p-tableCheckbox [value]="product"></p-tableCheckbox>-->
        </td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td><span [class]="'product-badge status-' + (product.status ? product.status.toLowerCase() : '')">{{product.status}}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteItem(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{items ? items.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="itemsDialog" [style]="{width: '450px', height:'500px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="item.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !item.name">Name is required.</small>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="item.description" required rows="3" cols="20"></textarea>
    </div>
    <div class="field">
      <label for="status">Status</label>
      <p-dropdown id="status" [(ngModel)]="item.status" inputId="status" [options]="statuses" placeholder="Select">
        <ng-template let-option pTemplate="item">
          <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

