<div class="topnav">
  <a [routerLink]="['/home']" (click)="changeStatuses('home')"
     [ngClass]="statusHome.value ? 'active' : 'inactive'" >{{'navigation.home' | translate}}</a>
  <a [routerLink]="['/products']" (click)="changeStatuses('products')"
     [ngClass]="statusProducts.value ? 'active' : 'inactive'" >{{'navigation.products' | translate}}</a>


  <div style="display: inline">
    <app-logout class="button-right logout"></app-logout>
    <app-change-language class="button-right"></app-change-language>
  </div>
</div>
